body
{
    max-width: 40%;
    margin: auto;
    font-family: "Inter", sans-serif;

}
.header
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

 h1
{
    font-family:  "Delius Unicase";
    color: #330000;
    font-size: 30px;
    line-height: 51px;
    text-align: center; 
    margin-top: 50px;
    width: 200px;

}

.header img
{
    width: 160px;
    height: auto;
}

.content h2
{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
}

.dang-nhap
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #FF9933;
    border-radius: 8px;
    padding: 24px;
    gap: 24px;
    width: 320px;
    min-width: 320px;
    height: 320px;
    left: 107px;
    top: 247px;
}


.dang-nhap p
{
    font-size: 19px;
}
.dang-nhap .input-username p
{
    margin: 5px;
}
.dang-nhap .input-password p
{
    margin: 5px;
}
.dang-nhap .input
{


width: 272px;
min-width: 240px;
height: 40px;

background: #FFFFFF;
border: 1px solid #FF9933;
border-radius: 8px;

font-size: 19px;

}


.dang-nhap  button
{
    /* Button */
margin-left: 40px;


/* Auto layout */


width: 199px;
height: 58px;


background: #FF9933;
border: 1px solid #FF9933;
border-radius: 8px;
color: white;
font-size: 19px;


}

.dang-ky
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    

}

.dang-ky button
{
    margin-top: 20px;

    width: 199px;
    height: 58px;   

background: #FF9933;
border: 1px solid #FF9933;
border-radius: 8px;
color: white;
font-size: 19px;

}


.footer
{
    justify-self: center;
  
}

.footer img
{
      width: 1300px;
    height: auto;
}
